
<div class="content">
  <button (click)="onClick()">ロード開始</button>

  <div class="content__body">
    <ul class="body__list station">
      <span class="list__title">{{stations.length}}</span>
      @for (item of stations.slice(0, 10); track $index) {
        <li class="list__item">
          <div class="item__data">{{item['dc:title']}}</div>
        </li>
      }
    </ul>

    <ul class="body__list timetable">
      <span class="list__title">{{timetable.length}}</span>
      @for (table of timetable.slice(0, 10); track $index) {
        <li class="list__item">
          <div class="item__data">
            <span class="data__id">{{table['@id']}}</span>
            <span class="data__valid">{{table['dc:issued']}}</span>
            @for (item of table['odpt:trainTimetableObject']; track $index) {
              <div class="timetable__data">
                @if (item['odpt:arrivalStation']) {
                  <span class="data__station">{{item['odpt:arrivalStation']}}</span>
                  <span class="data__time">{{item['odpt:arrivalTime']}}</span>
                } @else if (item['odpt:departureStation']) {
                  <span class="data__station">{{item['odpt:departureStation']}}</span>
                  <span class="data__time">{{item['odpt:departureTime']}}</span>
                }
              </div>
            }
          </div>
        </li>
      }
    </ul>
  </div>
</div>
